:root { 
    --Wht: white;
    --Purp: rgb(207, 207, 246);
    --DkPurp: rgb(36, 17, 55);
}

* { 
    /* box-sizing: border-box; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

body {
        background-color: white;

}

header {
    background-color: var(--DkPurp);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    margin: 0;
    
}

.topbanner {
    height: 11px;
    width: 100%;
    color: var(--Purp);
    font-family: cursive;
    display: inline-block;

}

h1 {
    font-size: 40px;
    color: var(--Purp);
    font-family: cursive;
    display: inline-block;
   
}
nav {
    margin-right: 25px;
    font-size: 25px;
    display: inline-block;
    
}

ul {
    

}

ul, li {
    display: inline-block;
    margin-left: 25px;
}
a {
    color: var(--Purp);
    text-decoration: none;

}

.banner {
    height: 120px;
    width: 100%;
    margin-bottom: 15px;
    
}

main {
    display: flex;
    flex-wrap: wrap;

}

aside {
    background-color: var(--DkPurp);
    width: 25%;
    align-content: center;
    text-align: center;
    color: var(--Purp);
    margin-bottom: 15px;
    padding: 1%;
}
.profile {
    width: 90%;


}
footer {
    padding: 50px;
    font-size: x-large;
    background-color: var(--DkPurp);
    width: 100%;
    bottom: 0;
    text-align: center;
    color: var(--Purp);
    margin-top: auto;
}